# --- DATABASE CONFIGURATION ---
# Read from docker-compose.yml to configure Postgres
POSTGRES_USER=quake_db_admin
POSTGRES_PASSWORD=super_secure_db_pass_2024
POSTGRES_DB=quakeguard_db

# --- NETWORK CONFIGURATION ---
# Port exposed on your localhost
API_PORT=8000
# Internal Docker Redis hostname
REDIS_HOST=redis
REDIS_PORT=6379
# Mosquitto port
MQTT_PORT=1883

# --- APPLICATION SECRETS ---
# It has to correspond with the ones hardcoded on the ESP32 firmware & Mobile App
ENROLLMENT_TOKEN=quake_enroll_mk99283
IOT_API_KEY=iot_node_auth_77xxyy
MOBILE_WS_TOKEN=mobile_ws_secure_token_5544

# --- SEISMIC CALIBRATION CONSTANTS ---
# Tune these against regional INGV catalog data. Defaults represent M4.0 at ~10km.
K_CALIBRATION=1.6
B_OFFSET=3.0
SENSOR_SCALE=100.0