# --- DATABASE CONFIGURATION ---
# Ridden from docker-compose.yml to configure Postgre
POSTGRES_USER=developer
POSTGRES_PASSWORD=password
POSTGRES_DB=aaaa

# --- NETWORK CONFIGURATION ---
# Porta esposta sul tuo localhost
API_PORT=8000
# Internal Docker Redis hostname
REDIS_HOST=redis
REDIS_PORT=xxxx

# --- APPLICATION SECRETS ---
# It has to correspond with the one harcoded on the ESP32 firmware
ENROLLMENT_TOKEN=key
IOT_API_KEY=key
MOBILE_WS_TOKEN=key

# --- SEISMIC CALIBRATION CONSTANTS ---
# Tune these against regional INGV catalog data. Defaults represent M4.0 at ~10km.
K_CALIBRATION=1.6
B_OFFSET=3.0
SENSOR_SCALE=100.0